.trackListHolder {
    display: flex;
    justify-content: space-between;
    width: 40%;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin: auto;
    padding: 10px;
}

.trackSearch {
    margin: auto;
    width: 80%;
}