<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title>Big booty bits</title>
</head>
<form action="#" th:action="@{/search}" th:object="${track}" method="post">
    <input required th:field="${track.searchText}" placeholder="Enter a track name.." type="text" class="trackSearch"/>
</form>
<ul th:each="t:${tracks}">
    <li class="trackListHolder">
        <h5 th:text="${t.getName()}"></h5>
        <p th:text="${t.getArtist()}"></p>
        <p th:text="${t.getGenre()}"></p>
    </li>
</ul>
</html>
