<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smol bits</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div class="trackListHolder">
        <h5 th:text="${track.getName()}"></h5>
        <p th:text="${track.getArtist()}"></p>
        <p th:text="${track.getGenre()}"></p>
    </div>
</body>
</html>